

.voltar{
    color: white;
    padding-left: 43%;
}
h1{
    padding-left: 18%;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: slategray;
}
p{
    padding-left: 10%;
    padding-right: 15%;
}
.p2{
    padding-right:30%;
    padding-left: 10%;
}

.linkex{
    color: rgb(138, 219, 16);
    padding-left: 5%;
    padding-right: 30%;
}
